body {
  font-family: "Montserrat", sans-serif;
}

/* Navigation Bar */

header {
  max-width: 1300px;
  margin: 0 auto;
  position: sticky;
  top: 0;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 80px;
}

/* Navigation Bar 
   logo link states*/

.logo-img {
  width: 100px;
}

.logo-img:hover {
  width: 100px;
  opacity: 0.5;
}

.logo-img:active {
  width: 99px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-links li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Navigation Bar 
   nav link states*/

.nav-links .nav-link a:visited {
  color: rgb(41, 36, 36);
}

/* Navigation Bar 
   nav link states (LEFT)*/

.nav-links .nav-link-left a:hover {
  background-color: #220647;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  box-shadow: -8px 8px 8px lightgrey;
  transition: 0.15s;
}

/* Navigation Bar 
   nav link states (CENTER)*/

.nav-links .nav-link-center a:hover {
  background-color: #220647;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 8px lightgrey;
  transition: 0.15s;
}

/* Navigation Bar 
   nav link states (RIGHT)*/

.nav-links .nav-link-right a:hover {
  background-color: #220647;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 8px 8px 8px lightgrey;
  transition: 0.15s;
}

.nav-links .nav-link a:active {
  background-color: black;
  color: white;
  padding: 2px 4px;
  border: none;
  border-radius: 4px;
  transition: 0.15s;
}

.nav-links .nav-link a:focus-visible {
  background-color: #220647;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  transition: 0.15s;
}

.contact-btn {
  text-decoration: none;
  color:white;
  font-weight: 500;
  margin: 16px;
  background-color: #220647;
  padding: 16px 32px;
  border : none;
  border-radius: 8px;
}

.contact-btn:hover {
  background-color: #3d0d7a;
  box-shadow: 8px 8px 8px lightgrey;
  transition: 0.15s;
}

.contact-btn:active {
  background-color: black;
  padding: 14px 30px;
  box-shadow: 8px 8px 8px lightgrey;
  transition: 0.15s;
}




main {
  max-width: 1300px;
  margin: 0 auto;
}